body {
    background-image: url("../images/qbkls.png");
}

.container {
    background-color: white;
}

header {
    background-color: white;
}

#header-img {
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: right;
}

.nav-link {
    font-size: 25px;
    margin-top: 45px;
    float: right;
    padding-right: 20px;
    color: #666699;
    font-family: Arial, Helvetica, sans-serif;  
}

.nav-link:hover {
    color: #ffcd33;
}


.buffer {
    background-color: #ffcd33;
    opacity: .4;
    height: 4px;
    margin-bottom: 30px;
    margin-top: 10px;
}


.active {
    margin-right: 100px;
}

.form-control {
    margin-top: 45px;
}

#search-btn {
    margin-top: 45px;
    background: #666699;
    color: azure;
}

span.c-title:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffcd33;
}


.tab {
    background-color: #666699;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;  
    
   
    }

#tbody:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffcd33;
}



.my-2 {
    color: #666699;
    padding-bottom: 5px;
    padding-top: 25px;
}

.style {
    border-radius: 15px;
    margin-bottom: 40px;
}




